/*end header menu*/

.spe-scrollbar{
    width: 740px;
    max-width: 100%;
    height: 90%;
    overflow: visible;
 }

.bg-Drark .nav-collapse.collapse {
	overflow: hidden !important;
}

.nav-collapse .ui-state-default {
	font-family: DroidArabicKufi, FontAwesome, Tahoma;
	font-size: 13px;
	text-decoration: none;
	width: 100%;
	text-align: $txt-r;
	font-weight: normal;
	padding: 8px 2px 8px 0px;
	vertical-align: top;
	background: $hover-default-btn !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
@include transition(all 0.4s ,ease,0s);
	border: 0px !important;
	border-bottom: 1px solid $background-bg-Drark !important;
	line-height: 1em;
}

.nav-collapse h3.ui-state-default:hover {
	background: #ffcc66 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.nav-collapse  h3.ui-state-active:hover {
	background: $hover-default-btn;
}

.nav-collapse h3.ui-state-default:hover a {
	color: #fff !important
}

.nav-collapse  .ui-panelmenu .ui-panelmenu-header a {

	padding: side-values( 0.5em .5em 0.5em .5em !important);

}

.nav-collapse  h3.ui-state-default .ui-icon-triangle-1-e, .nav-collapse  h3.ui-state-default .ui-icon-triangle-1-s
	{
	background-image: none !important;
	#{$f-left}: 8px;
	left: inherit;
}

.nav-collapse  h3.ui-state-default .ui-icon-triangle-1-e:before {
	color: #fff;
	content: "\f078";
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 12px;
	text-indent: initial;
	width: 100px;
	background-image: none !important;
	#{$f-right}: 0px;
	top:1px

	
}

.nav-collapse  h3.ui-state-default .ui-icon-triangle-1-s:before {
	color: #fff;
	content: "\f077";
	font-family: 'FontAwesome';
	#{$f-right}: 0px;
	position: absolute;
	font-size: 12px;
	text-indent: initial;
	width: 100px;
	background-image: none !important;
	top:1px
}

/*end sub1 menu*/
.nav-collapse .ui-widget-content {
	border: 0;
	padding: 0px !important;
	background: $default-color-btn ;
}

.nav-collapse .ui-panelmenu .ui-panelmenu-content {
	padding: 0px !important
}

.nav-collapse  .ui-panelmenu .ui-menuitem-link {
	font-size: 13px;
	text-decoration: none;
	width: 100%;
	text-align:$txt-r;
	padding-top: 0px;
	cursor: hand;
	min-height: 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
@include transition(all 0.4s ,ease,0s);
	border-bottom: 0px solid $hover-default-btn !important;
}

.nav-collapse .ui-panelmenu  li>.ui-menuitem-link {
	
	padding:side-values(12px 0px 12px 28px !important);
	background-image: none !important;
	color: #fff;
	border-bottom: 1px solid $hover-default-btn!important;
}



@include if-rtl {

.nav-collapse .ui-panelmenu .ui-menuitem >.ui-menuitem-link:before {
    color: #fff;
    content: "\f053";
    font-family: 'FontAwesome';
    #{$f-right}: 12px;
    position: absolute;
    font-size: 9px;


	
	
}

	}

    


    @include if-ltr {

.nav-collapse .ui-panelmenu .ui-menuitem >.ui-menuitem-link:after {
    color: #fff;
    content: "\f054";
    font-family: 'FontAwesome';
    #{$f-right}: 12px;
    position: absolute;
    font-size: 9px;


	
	
}

	}

    

.nav-collapse .ui-panelmenu .ui-menu-parent >.ui-menuitem-link:before {
	display: none !important
}

.nav-collapse .ui-panelmenu  li>.ui-menuitem-link:hover {
	background-color:  rgba( $hover-default-btn,0.20) !important
}

.nav-collapse .ui-panelmenu  li>ul li a {
	border-bottom: 0px solid #00456a !important;
}

.nav-collapse  h3.ui-state-default .ui-icon-triangle-1-e, .nav-collapse  h3.ui-state-default .ui-icon-triangle-1-s
	{
	background-image: none !important;
	#{$f-left}: 10px;
}

.nav-collapse .ui-panelmenu .ui-menu-parent .ui-icon-triangle-1-e,
	.nav-collapse .ui-panelmenu .ui-menu-parent .ui-icon-triangle-1-s {
	#{$f-right}: 1em !important;
	background-image: none !important;
}

.nav-collapse .ui-panelmenu .ui-menu-parent .ui-icon-triangle-1-e:before
	{
	color: #fff;
	content: "\f067 ";
	font-family: 'FontAwesome';
	#{$f-right}: 0px;
	position: absolute;
	font-size: 12px;
	text-indent: initial;
	width: 100px;
	background-image: none !important;
	@include transition(all 0.4s ,ease,0s);
}

.nav-collapse .ui-panelmenu .ui-menu-parent .ui-icon-triangle-1-s:before
	{
	color: #fff;
	content: "\f068 ";
	font-family: 'FontAwesome';
	#{$f-right}: 0px;
	position: absolute;
	font-size: 12px;
	text-indent: initial;
	width: 100px;
	background-image: none !important;
	@include transition(all 0.4s ,ease,0s)
}

/*sub2*/
.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list {
	background: #4e83b7;
	
	padding: side-values(20px 0px 5px 0px !important);
	margin-#{$f-left}: 0px !important;
}

.nav-collapse .ui-panelmenu .ui-menuitem {
	margin: 0px 0 !important;
	position: relative
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li {
	position: relative
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li a {
	border: 0px !important;
	
	padding: side-values(12px 0px 12px 55px  !important);
	COLOR: #e5f2ff !important
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li a:HOVER {
	background-color: #5289bf !important
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li a:before
	{
	content: "";
	position: absolute;
	top: 19px;
	#{$f-right}: 41px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #bbddff;
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li:before {
	content: "";
	position: absolute;
	top: -17px;
	#{$f-right}: 20px;
	bottom: 19px;
	width: 1px;
	border-left: 1px dotted #bbddff;
	Z-INDEX: 1;
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li:after {
	content: "";
	position: absolute;
	top: 21px;
	#{$f-right}: 24px;
	width: 20px;
	border-bottom: 1px dotted #bbddff;
	Z-INDEX: 1;
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden {
	padding: 0px !important;
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden {
	
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent:after,
	.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent:before,
	.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent>a:before
	{
	display: none !important
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent
	{
	padding: 0px !important;
	border-bottom: 1px solid #356a9e;
	padding-right: px !important
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent:last-child
	{
	border-bottom: 0px solid #356a9e
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent>a
	{
	padding-#{$f-right}: 40px !important
}

.nav-collapse .ui-panelmenu  .subMenuClass2>ul.ui-helper-hidden li.ui-menu-parent .ui-panelmenu-icon.ui-icon
	{
	#{$f-right}: 1.9em !important;
}

/*sub3*/
.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul {
	background-color: #5b96d4 !important;
	padding-top: 5px !important;
	padding-bottom: 0px !important;
	overflow: hidden;
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul li a {
	background: #5b96d4 !important;
	border: 0px solid !important;
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul li a:hover
	{
	background: #5a91cc !important;
	color: #004469 !important
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul li:after,
	.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul li:before
	{
	#{$f-right}: 26px;
}

.nav-collapse .ui-panelmenu .ui-menu-parent>Ul.ui-menu-list>li ul li>a:before
	{
	#{$f-right}: 46px;
}
.nav-collapse .ui-panelmenu a.selected-nav,.nav-collapse
 .ui-panelmenu .ui-menu-parent > Ul.ui-menu-list > li .selected-nav{ background-color:#fff; color:$hover-default-btn ;

font-weight:bold !important; 

&:before{
color:$hover-default-btn !important;


}

&:after{
	color:$hover-default-btn !important;
	
	
	}

&:hover{

	background:#fff !important 
}


  }

  
.portfolio{
	background-color:$table-background;
	/*border-bottom: 4px solid #f1f1f1;*/
   /* margin-bottom: 15px;*/
	padding: 15px 0px;
	text-align: center;

	.user-img{
		height: 40px;
width: 40px;
	}

	.box-date {
border: 1px solid #e4e4e4;
color: $color-font-pro;
width: 95%;
margin: 0 auto;
 border-radius: 4px;
 margin-top:9px 
 ;
padding:1px 1px 5px 1px ;
display: inline-block;
}
.status-text-green{
color:  $default-btn !important;
	font-weight: bold;
	font-size:15px 

}

}

.status-text-n {
font-size: 15px;
margin:0px 8px;

margin: side-values(0px 3px 0px 10px !important);

}


.box-status{
position: relative;


margin: 7px auto;
width: 67%;

.ma{
	padding: 4px 0px;
	text-align:$txt-l; 	
}
.r-st{
text-align:$txt-r; 

}

.status-color-green{
 background-color:$default-btn !important;

padding: 2px 2px;
width: 9px;
border-radius: 50px;
height: 9px;
display: inline-block;
margin: 0 auto;
box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
border: 1px solid $table-background;
}

.status-text {
color:$default-btn;
font-weight: bold;
}

.heartbit {
position: absolute;
  top: -4px;
#{$f-left}:-8px;
height: 23px;
width: 23px;
z-index: 10;
border: 4px solid $default-btn !important;
border-radius: 70px;

-moz-animation: heartbit 1s ease-out;
-moz-animation-iteration-count: infinite;
-ms-animation: heartbit 1s ease-out;
-ms-animation-iteration-count: infinite;

-o-animation: heartbit 1s ease-out ;
-o-animation-iteration-count: infinite;
-webkit-animation: heartbit 1s ease-out;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

@-moz-keyframes heartbit{
0%{-moz-transform:scale(0);opacity:0}
25%{-moz-transform:scale(0.1);opacity:.1}
50%{-moz-transform:scale(0.5);opacity:.3}
75%{-moz-transform:scale(0.8);opacity:.5}
100%{-moz-transform:scale(1);opacity:0}}

@-webkit-keyframes heartbit{

0%{-webkit-transform:scale(0);opacity:0}
25%{-webkit-transform:scale(0.1);opacity:.1}
50%{-webkit-transform:scale(0.5);opacity:.3}
75%{-webkit-transform:scale(0.8);opacity:.5}
100%{-webkit-transform:scale(1);opacity:0}}

}

@keyframes heartbit{

0%{transform:scale(0);opacity:0}
25%{transform:scale(0.1);opacity:.1}
50%{transform:scale(0.5);opacity:.3}
75%{transform:scale(0.8);opacity:.5}
100%{transform:scale(1);opacity:0}
}



.new-list .ui-widget-header{ background-color: #f2f2f2  !important; background-image: none !important;border-bottom: 12px solid $table-background;-webkit-box-shadow: inset 0px -6px 8px -6px rgba(71,71,71,0.25);
	-moz-box-shadow: inset 0px -6px 8px -6px rgba(71,71,71,0.25);
	box-shadow: inset 0px -6px 8px -6px rgba(71,71,71,0.25); border: 0px !important}
	
	
	.new-list .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
		border-bottom: 0;
		top: 1px;
		width: 16%;
		display: inline !important; border:0px !important; background-color:transparent !important;    margin: 0px;
		margin-#{$f-left}: 10px;    padding: 8px 2px 0px 2px;@include transition(all 0.4s ,ease,0.4s);@include transition(background 0.4s ,ease,0.4s); }
	
		   .new-list .ui-tabs.ui-tabs-top > .ui-tabs-nav li:hover {border-bottom:0px !important;@include transition(all 0.4s ,ease,0.4s);@include transition(background 0.4s ,ease,0.4s); }
	.new-list .ui-tabs .ui-tabs-nav li a:hover {background-color:transparent !important; @include transition(all 0.4s ,ease,0.4s);@include transition(background 0.4s ,ease,0.4s); font-size: 22px; } 
	
	.new-list .ui-tabs-rtl .ui-tabs-nav li a{
		border-radius: 5px !important;
		width: 21px;
		background-color: transparent !important;
		padding: 9px 0px 5px 0px !important;
		text-align: center;
		height: 18px;
		font-size: 20px;
		color: #9ea6aa !important;
		-moz-transition: all 0.4s, ease, 0.4s;
		-o-transition: all 0.4s, ease, 0.4s;
		-webkit-transition: all 0.4s, ease, 0.4s;
		transition: all 0.4s, ease, 0.4s;
		-ms-transition: all 0.4s, ease, 0.4s;
		-moz-transition: background 0.4s, ease, 0.4s;
		-o-transition: background 0.4s, ease, 0.4s;
		-webkit-transition: background 0.4s, ease, 0.4s;
		transition: background 0.4s, ease, 0.4s;
		-ms-transition: background 0.4s, ease, 0.4s;
		overflow: hidden;
	
	}
	
	.new-list .ui-tabs .ui-tabs-nav li.ui-tabs-selected a{    border-top: 2px solid #ffc656 !important;
		width: 100%;
		border-radius: 2px 2px 0px 0px !important;
		background-color: #369 !important;
		-webkit-box-shadow: 0px -2px 8px 0px rgba(71, 71, 71, 0.25);
		-moz-box-shadow: 0px -2px 8px 0px rgba(71, 71, 71, 0.25);
		box-shadow: 0px -2px 8px 0px rgba(71, 71, 71, 0.25);
		color: #ffc656 !important;
		font-size: 14px;
		-moz-transition: all 0.4s, ease, 0.4s;
		-o-transition: all 0.4s, ease, 0.4s;
		-webkit-transition: all 0.4s, ease, 0.4s;
		transition: all 0.4s, ease, 0.4s;
		-ms-transition: all 0.4s, ease, 0.4s;
		-moz-transition: background 0.4s, ease, 0.4s;
		-o-transition: background 0.4s, ease, 0.4s;
		-webkit-transition: background 0.4s, ease, 0.4s;
		transition: background 0.4s, ease, 0.4s;
		-ms-transition: background 0.4s, ease, 0.4s;	}
	
		.new-list .ui-panelmenu .ui-panelmenu-header{ border: 0px  ;   
		border-bottom: 1px solid #ededed !important;width: 100% !important;}
	
		.new-list .ui-state-active{width: 50% !important;}
		.new-list .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover{    
			background-color: #369 !important;}


/*new style menu*/

%style-icons{font-family: 'FontAwesome';
	#{$f-right}:-8px;
	position: relative;
	font-size: $font-size + 2;
	font-weight: 400;
color:$Title-bule;}

.ui-panelmenu-header a:before{color:#fff !important;    margin-#{$f-left	}: 5px;}
			.new-list .ui-panelmenu div:nth-child(1) .ui-panelmenu-header a:before {
				content: "\e902";
				font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(2) .ui-panelmenu-header a:before {
				content: "\e902 ";
				font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(3) .ui-panelmenu-header a:before {
				content: "\e900 ";
				font-family: 'ha-icon' !important;
				font-size: 19px
			}

			.new-list .ui-panelmenu div:nth-child(4) .ui-panelmenu-header a:before {
				content: "\e904 ";
				font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(5) .ui-panelmenu-header a:before {
				content: "\e902  ";font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(6) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(7) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}

			.new-list .ui-panelmenu div:nth-child(8) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(9) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(10) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(11) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(12) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(13) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}
			.new-list .ui-panelmenu div:nth-child(14) .ui-panelmenu-header a:before {
				content: "\e904  ";
				font-family: 'ha-icon' !important
			}

#wrapper.active #sidebar-wrapper{

.new-list .ui-panelmenu .ui-panelmenu-header a:before{

display:block;text-align: center; margin-bottom:5px ;right: 0;
}

.ui-panelmenu .ui-panelmenu-header a{ font-size:13px !important;    text-align: center;
	padding-#{$f-right}: 5px !important;
 }

.ui-icon{ display:none !important
}

.new-list .ui-tabs.ui-tabs-top > .ui-tabs-nav li{    width: 48%;}
.new-list .ui-tabs.ui-tabs-top > .ui-tabs-nav li a{
font-size: 22px;

padding-#{$f-right}: 5px !important;

width: 60%;
overflow: hidden;}

}
.new-list{ margin-bottom:35px  }
.ui-panelmenu-header a:before {
    color: #fff !important;
}
#wrapper.active #sidebar-wrapper .nav-collapse .ui-panelmenu .ui-panelmenu-content{position: absolute !important; right: 100%;
width: 220px;    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);    top: 15%;}

#wrapper.active #sidebar-wrapper  .nav-collapse.collapse{ overflow: visible !important }
#wrapper.active #sidebar-wrapper .n-div{display: none !important }

#wrapper.active #sidebar-wrapper  .mCustomScrollBox, #wrapper.active #sidebar-wrapper .mCSB_container{overflow: visible !important }
/*#wrapper.active #sidebar-wrapper  .ui-panelmenu .ui-panelmenu-panel{ position: relative }*/

.circle-user{top:-100px; position:absolute  !important;left: 3%;
opacity: 0; }

#wrapper.active .circle-user{ /*display: block !important;*/-moz-transition: all 0.4s, ease, 0.5s;
-o-transition: all 0.4s, ease, 0.5s;
-webkit-transition: all 0.4s, ease, 0.5s;
transition: all 0.4s, ease, 0.5s;
-ms-transition: all 0.4s, ease, 0.5s; top:0px;position: relative !important ;    
opacity: 1;left: 0%;}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
 
    #{$f-right}: 2px !important;}