
/*.L1{
    background-image: url(../resources/images/L1.gif);
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: right;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    overflow: hidden;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    vertical-align: top;
    display: block;
    height: 35px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.L1over{
    background-image: url(../resources/images/L1_over.gif);
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: right;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    overflow: hidden;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    vertical-align: top;
    display: block;
    height: 35px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.L1 a {
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.L1a {
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.L1ahover {
    font-family: Tahoma;
    font-size: 14px;
    color: #FF0000;
    text-decoration: none;
}

.L2 {
    background-image: url(../resources/images/L2.gif);
    font-family: Tahoma;
    font-size: 14px;
    color: #006699;
    text-decoration: none;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    vertical-align: bottom;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    cursor: hand;
    display: block;
    height: 35px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.L2over {
    background-image: url(../resources/images/L2_over.gif);
    font-family: Tahoma;
    font-size: 14px;
    color: #FF6600;
    text-decoration: none;
     width: 100%;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    vertical-align: bottom;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    cursor: hand;
    display: block;
    height: 35px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.L2 a {
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.L2a {
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.L2ahover {
    font-family: Tahoma;
    font-size: 14px;
    color: #FF6600!important;
    text-decoration: none;
}

.L3 {
    background-image: url(../resources/images/L3.gif);
    background-repeat: repeat-x;    
    font-family: Tahoma;
    font-size: 13px;
    color: #006600;
    text-decoration: none;
    height: 30px;
    width: 100%;
    text-align: right;
    white-space: none;
    padding-top: 5px;
    vertical-align: middle;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    font-weight: normal;
    padding-right: 35px;
    padding-bottom: 4px;
    display: block;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.L3:hover {
    background-image: url(../resources/images/L3_over.gif);
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    white-space: none;
    color: #FF0000;
}

.L3 a {
    font-family: Tahoma;
    font-size: 13px;
    color: #006600;
    text-decoration: none;
}

.L3 a:hover {
    text-decoration: none;
    width: 100%;
    text-align: right;
    white-space: none;
    vertical-align: bottom;
    color: #FF0000;
}
.L3Selected {
	background-color : #379a5e;
    font-family: Tahoma;
    font-size: 13px;
    color: #006600;
    text-decoration: none;
    height: 30px;
    width: 100%;
    text-align: right;
    white-space: none;
    padding-top: 5px;
    vertical-align: middle;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    font-weight: normal;
    padding-right: 35px;
    padding-bottom: 4px;
    display: block;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	
	
}
.L3Selected a{
text-decoration: none;
font-family: Tahoma;
font-size: 13px;
color:white!important;
}
.L3Selected a:hover{
text-decoration: underline;
font-family: Tahoma;
font-size: 13px;
color:white!important;
}
*/