<?xml version="1.0" encoding="UTF-8"?>

 	<!DOCTYPE hibernate-configuration 
	PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">WelcomeToServerJSF#12July</property>
		<property name="hibernate.connection.url">jdbc:mysql://online-examination-system.mysql.database.azure.com:3306	</property>
		<property name="hibernate.connection.username">Admin_SYS</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="com.entities.Product" />
	</session-factory>
</hibernate-configuration>